@model User

@{
    ViewData["Title"] = " User's etails";
}

<h1>Details</h1>
<h4>User </h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                       
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Username)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Password)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Code)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Code)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Birthday)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Birthday)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>
                            <dd class="col-sm-10">
                    
                                @Html.Raw(Model.Gender ? "Male" : "Famale")
                            </dd>
                            <dt class="col-sm-2">
                    
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.Raw(Model.IsActive ? "Active" : "Blocked")
                    
                            </dd>
                           
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Faculty)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Faculty.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Role)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Role.Name)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            
    </div>
</div>
