@model IEnumerable<MockProject.Models.ViewModels.StudentViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Transcript</h1>
</div>

<div class="container-fluid">
    <div class="card-header">
        <form asp-action="List" method="get">
            <div class="col-md-12">
                <span>Chọn năm học</span>
                <select name="year" style="width: 25%" class="form-control">
                    @{
                        var filteryear = ViewBag.ListYear;
                        var check = ViewBag.Year;
                        <option value="0">All</option>
                        foreach (var a in filteryear)
                        {

                            if (a.Equals(check))
                            {

                                <option selected="selected" value="@a">@a</option>
                            }
                            else
                            {

                                <option value="@a">@a</option>
                            }

                        }
                    }
                </select>
            </div>
            <div>
                <span>Chọn học kì</span>
                <select name="name" style="width: 25%" class="form-control">
                    @{
                            
                        var filter = ViewBag.ListName;
                        var checkn = ViewBag.HK;
                        <option value="0">All</option>
                        foreach (var a in filter)
                        {

                            if (a.Equals(checkn))
                            {

                                <option selected="selected" value="@a">@a</option>
                            }
                            else
                            {

                                <option value="@a">@a</option>
                            }

                        }
                    }
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-default"/>
        </form>

    </div>
    <table id="myTable" class="table" >
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                Pass
            </th>
            <th>
                Infor
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.Raw( item.IsPass ? "Pass" : "Fail")
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" title="Detail">
                        <i class="far fa-eye"></i>
                    </a> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



