@model Tuple<Semester,List<Schedule>>

@{
    ViewData["Title"] = "Add schedule";
}

<h1>Create</h1>

<h4>Semester @Model.Item1.Name - Year @Model.Item1.Year - Faculty @Model.Item1.Faculty.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSchedule">
            
            <div class="form-group">
                <label  class="control-label">Teacher</label>
                <input name="teacherId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Subject</label>
                <input name="subjectId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Semester</label>
                <input name="semesterId" class="form-control" hidden value="@Model.Item1.Id"/>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
     <thead>
     <tr>
         <th>
             Teacher Name
         </th>
         <th>
             Subject Name
         </th>
         
         <th>
             Actions
         </th>
     </tr>
     </thead>
     <tbody>
     @foreach (var item in Model.Item2) {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.User.Name)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Subject.Name)
             </td>

             <td>
                 <a asp-action="ScheduleDetail" asp-route-id="@item.Id">Details</a> |
                
             </td>
         </tr>
     }
     </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
