@model IEnumerable<Semester>

@{
    ViewData["Title"] = "Semester list";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
              
                    <table id="tableSemester" class="table">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Year)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Faculty)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a> |
                                    <a asp-action="AddSchedule" asp-route-id="@item.Id" title="Detail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
             
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $('#tableSemester').DataTable({
                pageLength: 5
            });
        });
    </script>
}
